.textInput {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font: inherit;
}

textarea.textInput {
  height: 100px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;

  &Errored {
    .textInput {
      border-color: var(--danger-color);
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  label {
    font-size: 0.8em;
    margin-bottom: 3px;
    padding-left: 3px;
  }

  .error {
    color: var(--danger-color);
    font-size: 1em;
    margin-top: 3px;
  }
}
