.auth-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.auth-box {
  width: 100%;
  max-width: 520px;
  padding: 20px;
  border: 1px solid #42434b;
  border-radius: 10px;
  text-align: center;

  &-message {
    text-align: center;
    margin-top: 20px;
  }

  h3 {
    margin-bottom: 15px;
  }
}
