.btn {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    background-color: lightgrey;
  }
}
